

.header{
    display: flex; 
    align-items: center;  
    justify-content: center;
}

.header a{
    width: 2vmax;
    height: 2vmax;
    margin : 1vmax 4vmax;
   
}

.header a:hover{
    color: green;
}